.roboBackColor {
    background-color: white;
    position: absolute;
}

.roboLogo {
    width: 180px;
    height: 180px;
}

.roboSearchBox {
    text-align: right;
    border: 1px solid black;
}

.roboWelcomeWave {
    text-align: center;
}

.roboTopRight {
    position: absolute;
    right: 0px;
}

.roboStartHere {
    position: relative;
    top: 180px;
    margin: 10px;
}

.robo1LinkStartHere {
    position: relative;
    top: 1580px;
}

.robo2LinkStartHere {
    position: relative;
    top: 80px;
}

.robo3LinkStartHere {
    position: relative;
    top: 80px;
}


/* Two column layout that float next to each other by Matthew James Taylor
 * http://matthewjamestaylor.com/blog/equal-height-columns-2-column.htm"
 * Cool thing is the horizontal top alignment. Neat!
 */
#containerTwo {
	clear: left;
	float: left;
	width: 100%;
	overflow: hidden;
}
#containerOne {
	float: left;
	width: 100%;
	position: relative;
	right: 50%;
}
#colOne {
	float: left;
	width: 46%;
	position: relative;
	left: 52%;
	overflow: hidden;
}
#colTwo {
	float: left;
	width: 46%;
	position: relative;
	left: 56%;
	overflow: hidden;
}
/* Two column layout end. */

.parallax-imgOne {
    /* The image used */
    background-image: url("../images/Mr.-Robot-Welcome.png");
    text-align: center;

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-imgTwo {
    /* The image used */
    background-image: url("../images/welcome.jpg");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
